a {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.container {
    width: 1334px;
    margin: 0 auto;
}

/* Header */

.header-page {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    color: #000000;
    font-size: 36px;
    line-height: 1.5;
}

.logo > span{
    color: #939393;
}

.navigation-menu {
    display: flex;
    gap: 30px;

    margin: 0px 0px 0px 250px;
    padding: 0;
}

.navigation-item { 
    padding: 70px 0px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
}

.navigation-link {
    color: #263238;
}

.offer-btn {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;

    background-color: #ffffff;

    margin-left: auto;
    padding: 17px 57px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.hero {
  display: flex;
  margin-right:33px;
}

.hero .title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 64px;
  line-height: 1.25;
  margin-bottom: 40px;
}

.hero .text {
  font-family: "Poppins";
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 61px;
}

.hero button {
  width: 438px;
  height: 118px;
  background: #263238;
  border-radius: 15px;
  font-family: "Poppins";
  font-size: 36px;
  line-height: 1.5;
  color: #ffffff;
}
