*,
*::before,
*::after {
  box-sizing: border-box;
}

.hero {
  display: flex;
  margin-right:33px;
}

.hero .title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 64px;
  line-height: 1.25;
  margin-bottom: 40px;
}

.hero .text {
  font-family: "Poppins";
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 61px;
}

.hero button {
  width: 438px;
  height: 118px;
  background: #263238;
  border-radius: 15px;
  font-family: "Poppins";
  font-size: 36px;
  line-height: 1.5;
  color: #ffffff;
}
